---
import "@app/styles/global.css";
import { ClientRouter } from "astro:transitions";
import Charging from "../astro/Charging.astro";
type Props = {
  siteTitle: string;
  description?: string;
};

const { siteTitle, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description || ""} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <ClientRouter />

    <title>{siteTitle}</title>
  </head>
  <body>
    <div
      class="charging-container fixed top-0 left-0 w-full h-full z-50 items-center justify-center bg-white dark:bg-[#13151a] hidden"
    >
      <Charging />
    </div>
    <slot />
  </body>
</html>
<script>
  document.addEventListener("astro:before-preparation", (ev) => {
    const chargingContainer = document.querySelector(".charging-container");
    if (chargingContainer) {
      chargingContainer.classList.remove("hidden");
      chargingContainer.classList.add("flex");
    }
    console.log(ev.loader);
    // This event is triggered before the page is prepared
    console.log("Preparando la página...");
  });
  document.addEventListener("astro:after-preparation", () => {
    // This event is triggered before the page is prepared
    console.log("Página preparada");
  });
  document.addEventListener("astro:after-swap", () => {
    const chargingContainer = document.querySelector(".charging-container");

    if (chargingContainer) {
      chargingContainer.classList.remove("flex");
      chargingContainer.classList.add("hidden");
    }
    // This event is triggered after the page transition
    console.log("Página cargada");
  });
</script>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

  html {
    /* crear variables */
    --font-tittle: 48px;
    --font-sub-tittle: 32px;
    --font-default: 16px;
  }

  * {
    font-family: "Roboto", sans-serif;
  }
  p {
    font-size: var(--font-default);
  }
  body {
    background-color: #fafafa;
  }
  @media screen and (max-width: 768) {
    /* CSS styles to be applied when the condition is true */
    :root {
      --font-tittle: 32px;
      --font-sub-tittle: 24px;
      --font-default: 14px;
    }
  }
</style>
