---
import "@app/styles/global.css";
import { ClientRouter } from "astro:transitions";
type Props = {
  siteTitle: string;
  description?: string;
};

const { siteTitle, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description || ""} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <ClientRouter />

    <title>{siteTitle}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

  html {
    /* crear variables */
    --font-tittle: 48px;
    --font-sub-tittle: 32px;
    --font-default: 16px;
  }

  * {
    font-family: "Roboto", sans-serif;
  }
  p {
    font-size: var(--font-default);
  }
  body {
    background-color: #fafafa;
  }
  @media screen and (max-width: 768) {
    /* CSS styles to be applied when the condition is true */
    :root {
      --font-tittle: 32px;
      --font-sub-tittle: 24px;
      --font-default: 14px;
    }
  }
</style>
