---
// components
import Header from "@shared/ui/astro/Header.astro";
import { RCActiveModalButton } from "@shared/ui/react/RCModalButton";
import { AuthModal } from "../react/AuthModal";
// icons
import { ChevronDown } from "lucide-react";
import { AuthButton } from "../react/AuthButton";
import Drawer from "@shared/ui/react/Drawer";
---

<Header>
  <div slot="rightButton">
    <AuthButton client:only="react">
      <div slot="drawer">
        <Drawer
          triggerLabel="Abrir panel"
          position="left"
          width="w-96"
          client:load
        >
          <div>
            <h3 class="text-lg font-semibold mb-2">Nueva carrera</h3>
            {/* aquí va el formulario o contenido */}
          </div>
        </Drawer>
      </div>
    </AuthButton>
  </div>

  <!-- <script>
  import { supabase } from "@shared/api";

  const { data, error } = await supabase.from("staff").select(`
  id,
  nombre,
  carreras (
    id,
    nombre,
    materias (
      id,
      nombre
    )
  )
`);
  console.log(`data`, data);
  console.log(`error`, error);
</script> -->
</Header>
