---
// components
import Header from "@shared/ui/astro/Header.astro";
// icons
import { AuthButton } from "../react/AuthButton";
import { AuthDrawer } from "../react/AuthDrawer";
---

<Header>
  <div slot="rightButton" class="w-full">
    <AuthButton client:only="react" transition:persist transition:persist-props>
      <div slot="drawer">
        <AuthDrawer client:only="react" />
      </div>
    </AuthButton>
  </div>
</Header>
