---
import HeaderWithSignin from "@features/auth/ui/astro/HeaderWithSignin.astro";
import BaseLayout from "@shared/ui/layouts/BaseLayout.astro";

import DegreesAdminPage from "@widgets/degreesAdminPage/DegreesAdminPage";
---

<BaseLayout siteTitle="Carreras - Portal EICA UDO - Administrador">
  <div class="flex flex-col">
    <HeaderWithSignin />
    <DegreesAdminPage client:only="react" />
  </div>
</BaseLayout>
