---
import HeaderWithSignin from "@features/auth/ui/astro/HeaderWithSignin.astro";
import BaseLayout from "@shared/ui/layouts/BaseLayout.astro";
import SchoolsAdminPage from "@widgets/schoolsAdminPage/ui/SchoolsAdminPage";
---

<BaseLayout siteTitle="Tablas">
  <div class="flex flex-col">
    <HeaderWithSignin />
    <SchoolsAdminPage client:only="react" />
  </div>
</BaseLayout>
