---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout siteTitle="Ruta 1">
  <div class="flex flex-col justify-center items-center h-screen">
    <h1 class="text-3xl font-bold">Ruta 1</h1>
  </div>
</BaseLayout>
