---
import HelloWorld from "../components/astro/HelloWorld.astro";
import { Counter } from "../components/react/Counter";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout siteTitle="Hello World">
  <div class="flex flex-col justify-center items-center h-screen">
    <HelloWorld />
    <Counter client:load />
  </div>
</BaseLayout>
